/* Code by Henmasta*/
body {
	background-color: #00bfff;
}

#svidgen {
	color: white;
	text-shadow: 2px 2px black;
	font-family: 'Alata', sans-serif;
	font-size: 100px;
	transition: 2s;
}

#svidgen:hover {
	font-size: 119px;
}

.hu {
	font-size: 20px;
	padding: 10px;
	font-family: 'Russo One', sans-serif;
}

.div {
	background-color: white;
	height: 50px;
	width: 250px; 
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	transition: 1s;
	z-index: 99 !important;
}

.div:hover {
	width: 800px;
	height: 90px;
}

#hu2 {
	color: #00bfff;
	z-index: 1;
	margin-top: -20px;
}

#f {
	font-family: 'Russo One', sans-serif;
}

#vk {
	margin-top: -95px;
	margin-right: 899px;
	font-size: 10px;
	color: white;
	text-decoration: none;
	transition: 0.5s;
	padding-left: 10px;
}

#vk:hover {
	color: green;
	font-size: 30px;
	color: black;
	padding-right: 10px;
}

#email {
	margin-right: 799px;
	margin-top: -5px;
	margin-bottom: 20px;
	font-size: 30px;
	color: #00bfff;
	transition: 0.5s;
	padding-left: 10px;
}

#email:hover {
	color: black;
}

#a:hover {
	height: 190px;
}

#b {
	background-color: white;
	height: 50px;
	width: 250px; 
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	transition: 1s;
	z-index: 99 !important;
}

#b:hover {
	width: 700px;
	height: 150px;
}

.lll {
	margin-left: 500px;
	font-size: 25px;
}

.ll {
	margin-top: 600px;
	margin-right: 800px;
}

.lll:hover {
	color: black;
}

.ll:hover {
	margin-bottom: 300px;
}

#c:hover {
	width: 700px;
}

#hu3 {
	font-size: 15px;
	color: #00bfff;
	margin-left: 500px;
	margin-top: -30px;
	transition: 0.5s;
}

#hu3:hover {
	font-size: 20px;
	color: black;
}